body{
    background-color: #121212;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}

#container{
    background-color: #212121;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
h1{
    font-size: medium;
    padding-bottom: 10px;
}
#todo-input{
    background-color: #494949;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    border: 0;
    color: #dedddd;
}
#todo-input:focus{
    outline: none;
    box-shadow: none;
    background-color: #2b2b2b;
    color: #dedddd;
}

#input-button{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(115, 48, 232);
    color: #dbd9d9;
    border: 0;
}

#input-button:hover{
    background-color: rgb(87, 34, 178);
    transition: 0.3s;
    color: #fff;
}
#todo-input:hover{
    background-color: #2b2b2b;
    transition: 0.3s;
}
#form{
    display: flex;
    gap: 8px;
    width: 100%;
}
#todo-list li{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 5px;
    color: rgb(208, 206, 206);
    background-color: #494949;
    height: 30px;
    width: 230px;
    margin-top: 10px;
    list-style: none;
    border-radius: 5px;
}
#todo-list button{
    background-color: rgb(211, 56, 84);
    color: #dedddd;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#todo-list li:hover{
    background-color: #2b2b2b;
    color: rgb(208, 206, 206);
    transition: 0.1s;
}
#todo-list button:hover{
    background-color: rgb(163, 18, 45);
    color: white;
    transition: 0.2s;
}
